*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  font-size: 62.5%;
}

$text-color: #000;
$primary-color: red;
$sub-text-color: #504e70;
$bgc-sub-color: #fff;
$bgc-color: #f2f2fc;

body {
  background-color: $bgc-color;
}

@mixin flex(
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap,
  $display: flex
) {
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  display: flex;
}

.container {
  width: 100vw;
}

.btn {
  padding: 15px 35px;
  color: #fff;
  background-color: $primary-color;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: 600;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid #ccc;
  background-color: #fff;
  @include flex(flex-start, center, wrap);
  &-logo {
    margin-top: 80px;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    font-weight: 600;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      border-top: 8px solid transparent;
      border-right: 8px solid transparent;
      border-left: 8px solid $primary-color;
      border-bottom: 8px solid $primary-color;
      bottom: -20%;
      left: 20%;
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      border-top: 8px solid $primary-color;
      border-right: 8px solid $primary-color;
      border-left: 8px solid transparent;
      border-bottom: 8px solid transparent;
      top: -20%;
      right: 20%;
    }
  }
  &-text {
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
    font-weight: 700;
    color: $text-color;
  }
  &-nav {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    list-style: none;
    margin: 100px 0;
    &-item {
      margin: 15px 0;
      padding: 5px;
      width: 100%;
      cursor: pointer;
      border-bottom: 2px solid #ccc;
      & i {
        min-width: 30px;
      }
      & a {
        color: $text-color;
      }

      &:hover a {
        color: $primary-color;
      }
    }
  }
}

.main {
  margin-left: 300px;
  padding: 0 30px;
}

.home {
  min-height: 100vh;
  @include flex(center, space-between, wrap);
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 60px;
  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 6px;
    background-color: $primary-color;
    bottom: -5px;
    left: 0;
    border-radius: 5px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: $primary-color;
    bottom: -20px;
    left: 0;
    border-radius: 5px;
  }
}

.content {
  @include flex(center, space-between, wrap);
  color: $text-color;
  margin-top: 20px;
  &-info {
    width: calc(60% - 30px);
  }
  &-title,
  &-about {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &-name {
    font-family: "Dancing Script", cursive;
    color: $primary-color;
    font-size: 2.8rem;
    font-weight: 800;
  }
  &-job {
    color: $primary-color;
  }
  &-desc {
    font-size: 1.7rem;
    color: $sub-text-color;
    margin-bottom: 70px;
  }
  &-avatar {
    width: calc(40% - 30px);
    @include flex(flex-start, center, wrap);
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      border-top: 14px solid transparent;
      border-right: 14px solid $primary-color;
      border-left: 14px solid transparent;
      border-bottom: 14px solid $primary-color;
      bottom: -15%;
      right: 0%;
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      border-top: 14px solid $primary-color;
      border-right: 14px solid transparent;
      border-left: 14px solid $primary-color;
      border-bottom: 14px solid transparent;
      top: -15%;
      left: 0%;
    }
    &-img {
      height: 400px;
      object-fit: cover;
      display: block;
    }
  }
}

.about {
  min-height: 100vh;
  margin: 20px 0 60px;
  color: $text-color;
  &-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &-desc {
    font-size: 1.4rem;
    color: $sub-text-color;
    margin-bottom: 40px;
  }
  &-info {
    @include flex(flex-start, space-between);
  }
  &-detail {
    width: calc(60% - 15px);
    @include flex(flex-start, space-between);
    position: relative;
  }
  &-btn {
    position: absolute;
    bottom: -80px;
    left: 0%;
    & a {
      margin-right: 30px;
    }
  }
  &-contact {
    width: calc(50% - 15px);
    list-style: none;
    &-item {
      padding: 10px 0;
      font-size: 1.4rem;
      border-bottom: 1px solid #ccc;
    }
    &-title {
      font-weight: 600;
    }
  }
  &-skill {
    width: calc(40% - 15px);
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
    &-item:first-child &-progress::before {
      position: absolute;
      content: "";
      width: 95%;
      height: 6px;
      border-radius: 5px;
      background-color: $primary-color;
    }
    &-item:nth-child(2) &-progress::before {
      position: absolute;
      content: "";
      width: 85%;
      height: 6px;
      border-radius: 5px;
      background-color: $primary-color;
    }
    &-item:nth-child(3) &-progress::before {
      position: absolute;
      content: "";
      width: 80%;
      height: 6px;
      border-radius: 5px;
      background-color: $primary-color;
    }
    &-item:last-child &-progress::before {
      position: absolute;
      content: "";
      width: 60%;
      height: 6px;
      border-radius: 5px;
      background-color: $primary-color;
    }
    &-percent {
      @include flex(flex-start, space-between);
      margin-bottom: 8px;
      &:first-child {
        padding-top: 10px;
      }
    }
    &-progress {
      width: 100%;
      height: 6px;
      background-color: #ccc;
      margin-bottom: 20px;
      border-radius: 5px;
      position: relative;
    }
  }
  &-inteligent {
    margin-top: 60px;
    padding-bottom: 10px;
    @include flex(flex-start, space-between);
  }
  &-edu {
    width: calc(50% - 20px);
    &-heading {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 30px;
    }
    &-wrapper {
      background-color: $bgc-sub-color;
      padding: 30px 10px 10px 25px;
      border-radius: 15px;
      border: 1px solid #ccc;
      position: relative;
      box-shadow: 2px 2px 5px #ccc;
      &::before {
        width: 2px;
        background-color: $primary-color;
        height: calc(100% - 65px);
        content: "";
        position: absolute;
        left: 25px;
        top: 30px;
        border-radius: 5px;
      }
    }
    &-detail {
      padding-left: 25px;
      margin-bottom: 40px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $primary-color;
        top: 0;
        left: -6px;
      }
      &:last-child {
        margin-bottom: 20px;
      }
      &-times {
        margin-bottom: 10px;
        font-size: 1.2rem;
        & i {
          margin-right: 10px;
          font-size: 1.4rem;
        }
      }
      &-heading {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
      &-desc {
        font-size: 1.2rem;
        color: $sub-text-color;
      }
    }
  }
}

.service {
  min-height: 100vh;
  color: $text-color;
  margin-bottom: 60px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &-item {
    padding: 20px;
    background-color: $bgc-sub-color;
    border-radius: 15px;
    border: 1px solid #ccc;
    text-align: center;
    & i {
      margin-bottom: 10px;
      line-height: 100px;
      font-size: 3rem;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: transparent;
      transition: all 0.25s linear;
      &:hover {
        background-color: red;
      }
    }
  }
  &-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 1.2rem;
    color: $sub-text-color;
  }
}

.portfolio {
  min-height: 100vh;
  color: $text-color;
  margin-bottom: 60px;
  &-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &-item {
    padding: 10px;
    background-color: $bgc-sub-color;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  &-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.contact {
  min-height: 100vh;
  color: $text-color;
  margin-bottom: 60px;
  &-title {
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    &-heading {
      font-size: 2.2rem;
      color: $primary-color;
      margin-bottom: 10px;
      font-weight: 700;
    }
    &-desc {
      font-size: 1.5em;
      font-weight: 600;
    }
  }
  &-social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 30px;
    text-align: center;
    margin-bottom: 40px;
    & i {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    &-title {
      font-size: 1.4em;
      font-weight: 600;
    }
    &-address {
      font-size: 1.2rem;
    }
  }
  &-form {
    @include flex(flex-start, space-between, wrap);
    &-input {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: $bgc-sub-color;
      color: $sub-text-color;
      border: 1px solid #ccc;
      outline: none;
      margin-bottom: 20px;
    }
    &-name,
    &-email {
      width: calc(50% - 20px);
    }
    &-subject,
    &-message {
      width: 100%;
    }
    &-message {
      height: 100px;
      position: relative;
      margin-bottom: 40px;
    }
  }
}

.setting {
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 99;
  @include flex(center, center, wrap);
  &-options {
    font-size: 2rem;
    margin-right: 10px;
    color: $text-color;
  }
  &-color:hover {
    animation: spin 0.5s 1 forwards;
  }
  &-color,
  &-theme {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $bgc-sub-color;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    i {
      line-height: 50px;
      pointer-events: none;
    }
  }
  &-select-colors {
    background-color: $bgc-sub-color;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    @include flex(center, space-between, wrap);
    display: none;
  }
}
.color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  &-title {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &-option {
    width: 100%;
    @include flex(flex-start, space-between);
  }
  &-red {
    background-color: red;
  }
  &-orange {
    background-color: #ff6651;
  }
  &-green {
    background-color: #20e3b2;
  }
  &-blue {
    background-color: #2cccff;
  }
  &-pink {
    background-color: #f62682;
  }
}

@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}
